
.mit_app_inventor .card-columns {
    column-count: 2;
    padding-top: 10px;
}
.mit_app_inventor .card {
    border-radius: 1rem;
}


body {
    background-color: #f7f7f7;
}

/*顶部导航条*/
#navbar {
    height:60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fcfcfc;
    -webkit-box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
    -moz-box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
    z-index: 10;
}

.navbar-nav li {
    margin-left: 20px;
    font-size: 14px;
}

/*底部导航条*/
.footer {
    background-color: #595959;
    padding: 40px;
    display: block;
    margin-top: 20px;
    z-index: 10;
    padding-bottom: 96px;
}

.footer a {
    color: #999999 !important;
}
.footer li {
    list-style: none;
}

/*中间主显示区域*/
.container-fluid {
    margin-top: 65px !important;
    padding:0 !important;
}
.bgwhite {
    background-color: #fff;
    min-height: 600px;
}

.op_area {
    font-size: 15px;
    color: #999;
    padding: 10px;
}
.op_area a, .card-text a{
    color: #4caf50;
}

/*账户信息*/
.account {
    padding-right:20px;
    color:#555;
    font-size:14px;
}

/*发布按钮*/
.publish_btn {
    width: 120px;
    height: 34px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: #4caf50;
    margin-top: 6px;
    border: none;
}
.publish_btn[disabled], .publish_btn[disabled]:hover {
    background-color: #c4c4c4;
}

.publish_btn:hover {
    background-color: #01875F;
}

a.tip {
    color:#999 !important;
}

/*详细信息*/
.card-title {
    color: #333;
}
.card-text {
    color: #666;
}
.card-author {
    color:#999;
}

.intro_title {
    font-size: 18px;
    color: #4caf50;
    margin-bottom: 10px;
    margin-top: 30px;
}

/*apk二维码预览*/
.apk_preview {
    width: 300px;
    height: 300px;
    position: fixed;
    right: 15%;
    top: 160px;
    color:#999;
    font-size:16px;
}
.apk_preview p {
    margin:5px 0px !important;
}

.price {
    color: #fc5531;
    font-size:24px;
}
.price del {
    color: #888;
}


.shadow {
    box-shadow: 0 .1rem 0.5rem rgba(0,0,0,.1)!important;
}
.shadow:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
