/*cndns-right*/
.cndns-right{position:fixed;right:1px;top:70%;margin-top:-100px;z-index:100}
.cndns-right i{font-style:normal;}
.cndns-right a:hover{text-decoration:none;}
.cndns-right-menu{position:relative;}
.cndns-right-btn{
	  width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    position: relative;
    margin-bottom: 6px;
    border-radius: 50%;
    background: rgba(75,75,75,0.5);
    overflow: hidden;
}
.cndns-right-btn:hover {background: rgba(0,0,0,0.6);}
.cndns-right-btn span{color:#fff;font-size:21px;line-height:42px;}
.cndns-right-btn sup{display:block;min-width:24px;height:24px;text-align:center;line-height:24px;color:#fff;border-radius: 50%;background-color:#ff6800;position:absolute;left:-12px;top:-12px;}
.cndns-right-btn p{color:#fff;font-size:12px;line-height:15px;padding-top:5px;display:none;}
.cndns-right-menu:hover .cndns-right-btn span{display:none}
.cndns-right-menu:hover .cndns-right-btn p{display:block;}
.menu-top .cndns-right-btn span{font-size:12px;line-height:12px;padding-top:10px;display:block}
.menu-top .cndns-right-btn span.fa-angle-up{font-size:30px;line-height: 14px;}
.menu-top .cndns-right-btn i{display:none;color:#999;}/*顶部2个字去掉*/
.menu-top.cndns-right-menu:hover .cndns-right-btn span{display:block;color:#fff} 
.menu-top.cndns-right-menu:hover .cndns-right-btn i{color:#fff;}
.cndns-right-box{position:absolute;top:-15px;right:48px;padding-right:25px;overflow:hidden;display:none;}
.cndns-right-box .box-border{border:1px solid #ccc;border-top:4px solid #ff6800;padding:20px;background-color:#fff;-webkit-box-shadow: 0 3px 8px rgba(0,0,0,.15);-moz-box-shadow: 0 3px 8px rgba(0,0,0,.15);box-shadow: 0 3px 8px rgba(0,0,0,.15);position:relative;overflow:hidden;}
.cndns-right-box .box-border .arrow-right{display:block;width:13px;height:16px;position:absolute;right:-13px;top:26px;}
.menu-sev .cndns-right-box .box-border{width:430px;}
.menu-contact .cndns-right-box .box-border{width:250px;}
.cndns-right-menu:hover .cndns-right-box{display:block}
.menu-common .cndns-right-box{top:inherit;bottom:-35px;}
.menu-common .cndns-right-box .box-border{text-align:center;border-top:1px solid #ccc;}
.menu-common .cndns-right-box .box-border img{width:150px;height:150px;}
.menu-common .cndns-right-box .box-border i{display:block;color:#f66e06;font-size:16px;line-height:16px;}
.menu-common .cndns-right-box .box-border .arrow-right{top:inherit;bottom:50px;}
/* width */
::-webkit-scrollbar {
	width: 10px;
  height: 10px;
  background: transparent;
}
/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #dbdcdf;/*skyblue;*/
  background-clip: padding-box;
  border:2px solid transparent;
	border-radius: 6px;
}
/* Handle on hover */
::-webkit-scrollbar:hover {
	background-color: #f2f3f3;
}
::-webkit-scrollbar-thumb:hover {
	background: #b7babf;
  border:1px solid transparent;
}

/*引用*/
article blockquote {
  color: #999;
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: rgb(235, 239, 247);
  padding-left:12px;
}

/*toc*/
#markdown-toc {
  border-left: 2px solid #efefef;
  position: -webkit-sticky;
  /*position: sticky;
  float:right;
  top: 100px;
  z-index: 1000;
  padding-bottom: 20px;*/
  position: fixed;
  right:60px;
  bottom:50px;
  z-index: 99;

  height: fit-content;
  overflow: hidden;
  background-color: #fff;
  min-width:200px;
  max-height:400px;
}

/*手机适配*/
@media screen and (max-width: 700px) {
  #markdown-toc {
    display: none;
  }
}

#markdown-toc ul {
  margin-left: -20px;
  list-style-type: revert;
  font-size: 14px;
  line-height: 24px;
}
#markdown-toc li {
  color: #656565;
  font-size: 14px;
  line-height: 24px;
  max-width: 150px;
}

#markdown-toc::before {
  content: "目录";
  font-size: 16px;
  color: rgb(27, 126, 255);
  margin-left:-18px;
  line-height:40px;
}
#markdown-toc a {
  color: #4E4E4E;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
  font-size:14px;
}
#markdown-toc li:hover, #markdown-toc a:hover, #markdown-toc .active {
  color: rgb(27, 126, 255);
  /*background-color:#f8f8f8;*/
}
#markdown-toc li a.active::after {
  content: "";
  margin-top: 6px;
  position: absolute;
  left:0;
  border-bottom: 6px solid transparent;
  border-left: 9px solid #5e94fa;
  border-right: 0;
  border-top: 6px solid transparent;
}

/*选中项提升*/
.arrow {
  position: absolute;
  z-index: 2;
  top: 5px;
  height: 0;
  width: 0;
  border-top: 6px solid transparent;
  border-left: 9px solid #5e94fa;
  border-bottom: 6px solid transparent;
  border-right: 0;
  cursor: pointer;
}

/*鼠标经过，出现滚动条*/
#markdown-toc:hover{
  overflow: auto;
  transition: 0.2s;
}

/*滚动条*/
#markdown-toc::-webkit-scrollbar {
width: 8px;
height: 8px;
background: transparent;
}
/*bar*/
#markdown-toc::-webkit-scrollbar-thumb {
box-shadow: inset 0 0 5px 5px #ddd;
border-radius: 30px;
border: solid 3px transparent;
background: transparent;
color: transparent;

  background: #eee;
border-radius: 30px;
}
/*bg*/
#markdown-toc::-webkit-scrollbar-track {
box-shadow: inset 0 0 10px 10px transparent;
border: solid 3px transparent;
background: transparent;

  box-shadow: inset 0 0 5px #ccc;
  border-radius: 30px;
}

/*表格*/
table {
  border-collapse: collapse;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  color: rgb(0, 0, 0);
  font-family: "PT Sans", Helvetica, Arial, STFangSong, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
  font-size: 16px;
}
table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #333;
	background-color: #DEDEde;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #333;
	background-color: #ffffff;
}

/*vip lock*/
.locked {
  max-width: 500px;
  overflow: hidden;
  margin: 20px 0;
  padding: 17px 8px 16px 38px;
  border: 2px dashed #9c6521;
  background: #FFF url(/static/images/locked.gif) no-repeat 16px 50%;
  font-size: 14px;
  color:#9c6521;
}

/*商店购买按钮*/
.store {
  padding: 4px 10px;
  border-radius: 3px;
  font-size: 16px;
  color: white !important;
  background-color: #4caf50;
  margin-top: 6px;
  border: none;
  text-decoration: none;
}
.store:hover {
  background-color: #01875F;
}
